@import "tailwindcss";
@plugin "daisyui";

@import 'material-icons/iconfont/material-icons.css';
@import 'prosemirror-view/style/prosemirror.css';

@layer utilities {
  .bg-black {
    background-color: transparent; /* Or any other colour you'd like */
  }
}

.hidden {
  display: none !important;
}
.ProseMirror {
  outline: none !important;
  box-shadow: none !important;
}